.products-header
  .products-header__icon
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?917505326", size: "182x89"
.purchase-confirmation-main
  .purchase-confirmation-main__box
    .purchase-confirmation-main__box--title
      購入内容の確認
    .purchase-confirmation-main__box--product
      - @product.images.each do |image|
        = image_tag image.image, size: "80x80"
      .purchase-confirmation-main__box--product--name
        = @product.name
        .purchase-confirmation-main__box--product--price
          ¥
          = @product.price.to_s(:delimited, delimiter: ",")
          .purchase-confirmation-main__box--product--price--shipping-fee
            （税込）送料込み
    .purchase-confirmation-main__box--buy-form
      .purchase-confirmation-main__box--buy-form--info
        .purchase-confirmation-main__box--buy-form--info--payment
          支払い金額
          .purchase-confirmation-main__box--buy-form--info--payment--amount
            ¥
            = @product.price.to_s(:delimited, delimiter: ",")
            .purchase-confirmation-main__box--buy-form--info--payment--point
              %i.fas.fa-square
              .purchase-confirmation-main__box--buy-form--info--payment--point--text
                ポイントを使用 (所持ポイント: P0)
        .purchase-confirmation-main__box--buy-form--info--method-of-payment
          支払い方法
          .purchase-confirmation-main__box--buy-form--info--method-of-payment--credit-card
            %i.fas.fa-plus-circle
            登録してください
        .purchase-confirmation-main__box--buy-form--info--destination
          配送先
          .purchase-confirmation-main__box--buy-form--info--destination--change
            変更する
            .purchase-confirmation-main__box--buy-form--info--destination--detail
              〒
              = @product.user.address.postal_code
              .purchase-confirmation-main__box--buy-form--info--destination-place
                愛知県 名古屋市中区 栄３丁目１３−２０
                .purchase-confirmation-main__box--buy-form--info--destination-name
                  山田 太郎
        = link_to root_path do
          .purchase-confirmation-main__box--buy-form--info--purchase-btn
            購入する

= render 'layouts/second_footer'