= render 'layouts/mypage_header'
- breadcrumb :card
= render 'layouts/breadcrumbs'
= render 'layouts/sidebar'
.card-box
  %section.card-box__container
    %h2.card-box__container__head
      支払い方法
    .card-box__container__inner
      %section
        .card-box__container__inner__content
          %h3.card-box__container__inner__content__head
            クレジットカード一覧
      - if @default_card_information.present?
        %ul
          %li.card-box__container__inner__content__card-list
            = form_tag(delete_card_index_path, method: :get, id:"charge-form", name: "inputForm", class: "card-box__container__inner__content__card-list__wrapper") do
              %figure.card-box__container__inner__content__card-list__img
                = image_tag "visa.svg", class: "card-box__container__inner__content__card-list__img__visa"
              %div.card-box__container__inner__content__card-list__card-number
                = "**** **** **** " + @default_card_information.last4
              %div.card-box__container__inner__content__card-list__exp_date
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              = submit_tag "削除する", class: "card-box__container__inner__content__card-list__btn", id: "token_submit"
      - if @default_card_information.nil?
        %section.card-box__container__inner__addition
          .card-box__container__inner__addition__content
            = link_to new_card_path, class: "card-box__container__inner__addition__content__btn" do
              %i.far.fa-credit-card.fa-lg.card-box__container__inner__addition__content__btn__icon
              クレジットカードを追加する
      .card-box__container__inner__text-right
        %p
          = link_to  "支払い方法について", "", class: "phone__main__form__content__text-right__text"
          %i.fas.fa-chevron-right.card-box__container__inner__text-right__icon
= render 'layouts/footer'
= render 'layouts/exhibit-btn'