.detail
  .detail__main
    .detail__main__name
      = @product.name
    .detail__main__remarks
      『ノーカラージャケット ツイードジャケット』は、8回の取引実績を持つ58a_nightさんから出品されました。トラッツォ ドンナ（ノーカラージャケット/レディース）の商品で、愛知県から1~2日で発送されます。
    .detail__main__image
      = image_tag "https://images.unsplash.com/photo-1567873000290-bdad3f03a7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "225x300"
      .detail__main__image--sub1
        = image_tag "https://images.unsplash.com/photo-1567873000290-bdad3f03a7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "60x60"
      .detail__main__image--sub2
        = image_tag "https://images.unsplash.com/photo-1514315494135-f97d08469750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "60x60"
      .detail__main__image--sub3
        = image_tag "https://images.unsplash.com/photo-1551726453-0e5da13edb68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "60x60"
      .detail__main__image--sub4
        = image_tag "https://images.unsplash.com/photo-1536665239959-9b873def9138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "60x60"
      .detail__main__image--sub5
        = image_tag "https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "60x60"
    .detail__main__status
      .detail__main__status__large-box
        .detail__main__status__large-box--title
          出品者
        .detail__main__status__large-box--seller
          = @product.user.name
          .detail__main__status__large-box--seller--good-icon
            %i.fas.fa-laugh
            .detail__main__status__large-box--seller--good-icon--count
              0
            .detail__main__status__large-box--seller--normal-icon
              %i.fas.fa-meh
              .detail__main__status__large-box--seller--normal-icon--count
                0
            .detail__main__status__large-box--seller--bad-icon
              %i.fas.fa-frown
              .detail__main__status__large-box--seller--bad-icon--count
                0
      .detail__main__status__large-box
        .detail__main__status__large-box--title
          カテゴリー
        .detail__main__status__large-box--category
          レディース
          .detail__main__status__large-box--category--child
            > ジャケット/アウター
          .detail__main__status__large-box--category--grandchild
            > ノーカラージャケット
      .detail__main__status--box
        .detail__main__status--box--title
          ブランド
        .detail__main__status--box--right-blue
          トラッツォ ドンナ
      .detail__main__status--box
        .detail__main__status--box--title
          商品のサイズ
        .detail__main__status--box--right-black
          M
      .detail__main__status--box
        .detail__main__status--box--title
          商品の状態
        .detail__main__status--box--right-black
          新品、未使用
      .detail__main__status--box
        .detail__main__status--box--title
          配送料の負担
        .detail__main__status--box--right-black
          送料込み(出品者負担)
      .detail__main__status--box
        .detail__main__status--box--title
          配送の方法
        .detail__main__status--box--right-black
          らくらくメルカリ便
      .detail__main__status--box
        .detail__main__status--box--title
          配送元地域
        .detail__main__status--box--right-blue
          愛知県
      .detail__main__status--box
        .detail__main__status--box--title
          発送日の目安
        .detail__main__status--box--right-black
          1~2日で発送
    .detail__main__price
      ¥
      = @product.price.to_s(:delimited, delimiter: ',')
      %span.detail__main__price--tax
        (税込)
      %span.detail__main__price--shipping-fee
        送料込み
    = link_to purchase_path do
      .detail__main__purchase-btn
        購入画面に進む
    .detail__main__description
      2018年の福袋にて購入しましたが着る機会がないため出品します。
    .detail__main__btn-box
      .detail__main__btn-box--likes
        %i.far.fa-heart
        いいね! 0
      .detail__main__btn-box--report
        %i.far.fa-flag
        不適切な商品の報告
      .detail__main__btn-box--effort
        %i.fas.fa-lock
        あんしん・あんぜんへの取り組み
  .detail__links
    .detail__links--left
      ＜ チェシャ猫ティッシュケース
    .detail__links--right
      PLL回路の設計と応用 ＞
  .detail__sns
    .detail__sns--facebook
      %i.fab.fa-facebook-square
    .detail__sns--twitter
      %i.fab.fa-twitter
    .detail__sns--pinterest
      %i.fab.fa-pinterest
  .detail__other
    .detail__other--exhibit
      58a_nightさんのその他の出品
      .detail__other--exhibit--product
        = image_tag "https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "220x220"
        .detail__other--exhibit--product--name
          ファーコート
        .detail__other--exhibit--product--lower
          ¥9,000
          .detail__other--exhibit--product--lower--right
            %i.far.fa-heart 0
    .detail__other--exhibit
      トラッツォ ドンナのノーカラージャケット その他の出品
      .detail__other--exhibit--product
        = image_tag "https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "220x220"
        .detail__other--exhibit--product--name
          ジャケットコート
        .detail__other--exhibit--product--lower
          ¥4,500
          .detail__other--exhibit--product--lower--right
            %i.far.fa-heart 0
.footer-bread-crumbs
  メルカリ >
  .footer-bread-crumbs__second
    ノーカラージャケット ツイードジャケット