.detail
  .detail__main
    .detail__main__name
      = @product.name
    .detail__main__content
      .detail__main__content__image
        .detail__main__content__image__main
          = image_tag @main_photo.image, size: "300x300", class: "detail__main__content__image__main__photo"
        - if @product.transaction_status == 1 # 売り切れの場合
          .detail__main__content__image__ribbon-lg
            %div
              SOLD
        .detail__main__content__image__sub
          - @product.images.each do |image|
            .detail__main__content__image__sub__thumb
              = image_tag image.image, size: "60x60", class: "detail__main__content__image__sub__thumb__photo"
      %table.detail__main__content__status
        %tbody
          %tr
            %th.detail__main__content__status--title
              出品者
            %td.detail__main__content__status__user
              %div.detail__main__content__status__user__name
                = @product.user.name
              %div
                .detail__main__content__status__user__ratings
                  %i.fas.fa-laugh.detail__main__content__status__user__ratings--good
                  %span.detail__main__content__status__user__ratings--good--count
                    125
                .detail__main__content__status__user__ratings
                  %i.fas.fa-meh.detail__main__content__status__user__ratings--normal
                  %span.detail__main__content__status__user__ratings--normal--count
                    50
                .detail__main__content__status__user__ratings
                  %i.fas.fa-frown.detail__main__content__status__user__ratings--bad
                  %span.detail__main__content__status__user__ratings--bad--count
                    3
          %tr
            %th.detail__main__content__status--title
              カテゴリー
            %td.detail__main__content__status--category
              = @category_grandchildren.parent.parent.name
              .detail__main__content__status--category--child
              %i.fas.fa-chevron-right
              = @category_grandchildren.parent.name
              .detail__main__content__status--category--grandchild
              %i.fas.fa-chevron-right
              = @category_grandchildren.name
          - if @product.brand.present?
            %tr.detail__main__content__status--box
              %th.detail__main__content__status--box--title
                ブランド
              %td.detail__main__content__status--box--right-blue
                = @product.brand
          - if @product.size.present?
            %tr.detail__main__content__status--box
              %th.detail__main__content__status--box--title
                商品のサイズ
              %td.detail__main__content__status--box--right-black
                = @product.size.size
          %tr.detail__main__content__status--box
            %th.detail__main__content__status--box--title
              商品の状態
            %td.detail__main__content__status--box--right-black
              = @product.condition
          %tr.detail__main__content__status--box
            %th.detail__main__content__status--box--title
              配送料の負担
            %td.detail__main__content__status--box--right-black
              = @product.delivery_cost
          %tr.detail__main__content__status--box
            %th.detail__main__content__status--box--title
              配送の方法
            %td.detail__main__content__status--box--right-black
              = @product.delivery_way
          %tr.detail__main__content__status--box
            %th.detail__main__content__status--box--title
              配送元地域
            %td.detail__main__content__status--box--right-blue
              = @prefecture.name
          %tr.detail__main__content__status--box
            %th.detail__main__content__status--box--title
              発送日の目安
            %td.detail__main__content__status--box--right-black
              = @product.preparatory_days
    .detail__main__price
      ¥
      = @product.price.to_s(:delimited, delimiter: ",")
      %span.detail__main__price--tax
        (税込)
      %span.detail__main__price--shipping-fee
        送料込み
      - if @product.transaction_status == 1 # 売り切れの場合
        .detail__main__btn--gray
          売り切れました
      - elsif user_signed_in? # ログインしているか？
        - if @product.user_id == current_user.id # ユーザーの商品の場合
          = link_to "" do
            .detail__main__btn--red
              商品を編集する
          %div.detail__main__text-between-btn
            or
          = link_to "" do
            .detail__main__btn--gray
              商品を一時停止する
          = link_to "" do
            .detail__main__btn--gray
              この商品を削除する
        - else # ユーザーの商品ではない場合
          = link_to purchase_path(@product) do
            .detail__main__btn--red
              購入画面に進む
      - else
        = link_to new_user_session_path do 
          .detail__main__btn--red
            購入画面に進む 
    .detail__main__description
      = @product.description
    .detail__main__btn-box
      .detail__main__btn-box--likes
        %i.far.fa-heart
        いいね! 100
      .detail__main__btn-box--report
        %i.far.fa-flag
        不適切な商品の報告
      .detail__main__btn-box--effort
        %i.fas.fa-lock
        あんしん・あんぜんへの取り組み
  .detail__links
    .detail__links--left
      %i.fas.fa-chevron-left
      チェシャ猫ティッシュケース
    .detail__links--right
      PLL回路の設計と応用
      %i.fas.fa-chevron-right
  .detail__sns
    .detail__sns--facebook
      %i.fab.fa-facebook-square
    .detail__sns--twitter
      %i.fab.fa-twitter
    .detail__sns--pinterest
      %i.fab.fa-pinterest
  .detail__other
    .detail__other--exhibit
      = @product.user.name
      さんのその他の出品
      .detail__other--exhibit--product
        = image_tag "https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "220x220"
        .detail__other--exhibit--product--name
          ファーコート
        .detail__other--exhibit--product--lower
          ¥9,000
          .detail__other--exhibit--product--lower--right
            %i.far.fa-heart 0
    .detail__other--exhibit
      - if @product.brand.present?
        = @product.brand
        の
        = @category_grandchildren.name
        その他の出品
      - else
        = @category_grandchildren.name
        その他の出品
      .detail__other--exhibit--product
        = image_tag "https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "220x220"
        .detail__other--exhibit--product--name
          ジャケットコート
        .detail__other--exhibit--product--lower
          ¥4,500
          .detail__other--exhibit--product--lower--right
            %i.far.fa-heart 0
.detail__breadcrumbs
  - breadcrumb :product, @product
  = render 'layouts/breadcrumbs_product'