.main-top
  = image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2508029365", class: "main-top__banner", size: "750x388"
.main-popular
  .main-popular__title
    人気のカテゴリー
  .main-popular__tags
    レディース
  .main-popular__tags
    メンズ
  .main-popular__tags
    家電・スマホ・カメラ
  .main-popular__tags
    おもちゃ・ホビー・グッズ
.main-new-arrival
  .main-new-arrival__category
    レディース新着アイテム
    .main-new-arrival__more
      もっと見る ＞
  - @products.each do |product|
    .main-new-arrival__product
      = link_to product_path(product) do
        - product.images.each do |image|
          = image_tag image.image, class: "main-new-arrival__product--image", size: "188x188"
        .main-new-arrival__product--price
          ¥
          = product.price
        .main-new-arrival__product--name
          = product.name
.main-new-arrival
  .main-new-arrival__category
    メンズ新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1521330784804-5f69f8a17b1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥4,800
      .main-new-arrival__product--name
        メンズ服
.main-new-arrival
  .main-new-arrival__category
    家電・スマホ・カメラ新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥63,800
      .main-new-arrival__product--name
        家電・スマホ・カメラ最新製品
.main-new-arrival
  .main-new-arrival__category
    おもちゃ・ホビー・グッズ新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥5,800
      .main-new-arrival__product--name
        おもちゃ
.main-popular
  .main-popular__title
    人気のブランド
  .main-popular__tags
    シャネル
  .main-popular__tags
    ルイヴィトン
  .main-popular__tags
    シュプリーム
  .main-popular__tags
    ナイキ
.main-new-arrival
  .main-new-arrival__category
    シャネル新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1541643600914-78b084683601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥5,800
      .main-new-arrival__product--name
        シャネル
.main-new-arrival
  .main-new-arrival__category
    ルイヴィトン新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1529025530948-67e8a5c69b58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥235,800
      .main-new-arrival__product--name
        ルイヴィトン
.main-new-arrival
  .main-new-arrival__category
    シュプリーム新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1531329466522-1075f0e4f23a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥115,800
      .main-new-arrival__product--name
        シュプリーム
.main-new-arrival
  .main-new-arrival__category
    ナイキ新着アイテム
    .main-new-arrival__more
      もっと見る ＞
    .main-new-arrival__product
      = image_tag "https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", size: "188x188"
      .main-new-arrival__product--price
        ¥50,800
      .main-new-arrival__product--name
        ナイキ