= render 'layouts/mypage_header'
= render 'layouts/breadcrumbs'
= render 'layouts/sidebar'
.card-registration-box
  %section.card-registration-box__container
    %h2.card-registration-box__container__head
      クレジットカード情報入力
    %form.card-registration-box__form
      %div.card-registration-box__form__content
        %div.card-registration-box__form__content__group
          %label.card-registration-box__form__content__group__label  カード番号
          %span.card-registration-box__form__content__group__require   必須
          %input.card-registration-box__form__content__group__input{"type":"text", "placeholder":"半角数字のみ"}
          %ul.card-registration-box__form__content__group__card-list
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "visa.svg", class: "card-registration-box__form__content__group__card-list__img__visa"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "master-card.svg", class: "card-registration-box__form__content__group__card-list__img__master"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "saison-card.svg", class: "card-registration-box__form__content__group__card-list__img__saison"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "jcb.svg", class: "card-registration-box__form__content__group__card-list__img__jcb"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "american_express.svg", class: "card-registration-box__form__content__group__card-list__img__amex"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "dinersclub.svg", class: "card-registration-box__form__content__group__card-list__img__dinersclub"
            %li.card-registration-box__form__content__group__card-list__img
              = image_tag "discover.svg", class: "card-registration-box__form__content__group__card-list__img__discover"
        %div.card-registration-box__form__content__group
          %label.card-registration-box__form__content__group__label  有効期限
          %span.card-registration-box__form__content__group__require   必須
          .card-registration-box__form__content__group__expire
            .card-registration-box__form__content__group__expire__select
              %i.fas.fa-chevron-down.fa-lg.card-registration-box__form__content__group__expire__select__icon
              %select.card-registration-box__form__content__group__expire__select__pulldown
                %option{value:"01"} 01
            %span.card-registration-box__form__content__group__expire__select__text  月
            .card-registration-box__form__content__group__expire__select
              %i.fas.fa-chevron-down.fa-lg.card-registration-box__form__content__group__expire__select__icon
              %select.card-registration-box__form__content__group__expire__select__pulldown
                %option{value:"19"} 19
            %span.card-registration-box__form__content__group__expire__select__text  年
        %div.card-registration-box__form__content__group
          %label.card-registration-box__form__content__group__label  セキュリティコード
          %span.card-registration-box__form__content__group__require   必須
          %input.card-registration-box__form__content__group__input{"type":"text", "placeholder":"カード背面4桁もしくは3桁の番号"}
        .card-registration-box__form__content__text-right
          .card-registration-box__form__content__text-right__text 
            %span.card-registration-box__form__content__text-right__icon ?
            カード裏面の番号とは？
        = link_to "追加する", complete_signup_index_path, class: "card-registration-box__form__content__btn"
= render 'layouts/footer'
= render 'layouts/exhibit-btn'