= render 'layouts/mypage_header'
- breadcrumb :personal
= render 'layouts/breadcrumbs'
= render 'layouts/sidebar'
.identification-box
  %section.identification-box__container
    %h2.identification-box__container__head
      本人情報の登録
    %form.identification-box__form
      .identification-box__form__header
        %p.identification-box__form__header--text
          お客様の本人情報をご登録下さい。
          %br
          登録したお名前・生年月日を入力する場合、本人確認書類の提出が必要になります。
        %p.identification-box__form__header--link
          = link_to "https://www.mercari.com/jp/help_center/article/495/", class: "identification-box__form__header--link--tag" do
            本人確認書類のアップロードについて
          %i.fas.fa-chevron-right.identification-box__form__header--link--icon
      .identification-box__form__group
        %label.identification-box__form__group--label
          お名前
        %p.identification-box__form__group--text
          メルカリ 太郎
      .identification-box__form__group
        %label.identification-box__form__group--label
          お名前カナ
        %p.identification-box__form__group--text
          メルカリ タロウ
      .identification-box__form__group
        %label.identification-box__form__group--label
          生年月日
        %p.identification-box__form__group--text
          1990/01/01
      .identification-box__form__group-pulldown
        %label
          郵便番号
        %span.identification-box__form--form-arbitrary
          任意
        %br
        %input.identification-box__form__input-form{placeholder: "例）1234567", type: "text", value: ""}/
      .identification-box__form__group-pulldown
        %label
          都道府県
        %span.identification-box__form--form-arbitrary
          任意
        = form_for '' do |f|
          .identification-box__form__group-pulldown__select-wrap
            %i.fas.fa-chevron-down.fa-lg.identification-box__form__group-pulldown__select-wrap__icon
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--", class: 'containt__main__container__inner__sell-form__select-wrap__list'
        .identification-box__form__group-pulldown
          %label
            市区町村
          %span.identification-box__form--form-arbitrary
            任意
          %br
          %input.identification-box__form__input-form{placeholder: "例）横浜市緑区", type: "text", value: ""}/
        .identification-box__form__group-pulldown
          %label
            番地
          %span.identification-box__form--form-arbitrary
            任意
          %br
          %input.identification-box__form__input-form{placeholder: "例）青山1-1-1", type: "text", value: ""}/
        .identification-box__form__group-pulldown
          %label
            建物名
          %span.identification-box__form--form-arbitrary
            任意
          %br
          %input.identification-box__form__input-form{placeholder: "例）柳ビル103", type: "text", value: ""}/
          %button.identification-box__form__btn-red{type: "submit"}
            登録する
          .identification-box__form__bottom
            = link_to "https://www.mercari.com/jp/help_center/article/423/", class: "identification-box__form__header--link--tag" do
              本人情報の登録について
            %i.fas.fa-chevron-right.identification-box__form__header--link--icon
= render 'layouts/footer'
= render 'layouts/exhibit-btn'