.header-wrapper
  .header-upper-title
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983", size: "134x36"
  = form_tag(searches_path, method: :get) do
    = text_field_tag :search, "", placeholder: "何かお探しですか？", class: "search-box"
    %label
      %i.fas.fa-search{class: "search-icon"}
      = submit_tag 'search', name: nil, class: "search-btn"
  .header-lower-left
    .header-lower-left__category
      %div.category_btn
        %i.fas.fa-list-ul{class: "list-icon"}
        %span.parent_category
          カテゴリーから探す
      .category_box
        .parents_list
          - @parents.each do |parent|
            = link_to "#{parent.name}", category_path(parent) , class: "category-parent", id: "#{parent.id}"
        .category_list_children
        -# .child_category
        -# - @children.each do |children|
        -#   .children_list
        -# = link_to "#{children.name}", "" , class: "child_category", id: "#{children.id}"
        .grand_children_list
    .header-lower-left__brands
      %i.fas.fa-tags{class: "tags-icon"}
      %span ブランドから探す
  .header-lower-right
    = link_to new_user_registration_path, class: "header-lower-right__signup" do
      %span{class: "signup-btn"} 新規登録
    = link_to new_user_session_path, class: "header-lower-right__login" do
      %span{class: "login-btn"} ログイン
