.mypage-header-wrapper
  .header-upper-title
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", size: "134x36"
  = form_tag(searches_path, method: :get) do
    = text_field_tag :search, "", placeholder: "何かお探しですか？", class: "search-box"
    %label
      %i.fas.fa-search{class: "search-icon"}
      = submit_tag 'search', name: nil, class: "search-btn"
  .header-lower-left
    .header-lower-left__category
      %div.category_btn
        %i.fas.fa-list-ul{class: "list-icon"}
        %span カテゴリーから探す
      .category_box
        .parents_list
          - @parents.each do |parent|
            = link_to "#{parent.name}", category_path(parent) , class: "category-parent", id: "#{parent.id}"
        .category_list_children
        .grand_children_list
    .header-lower-left__brands
      %i.fas.fa-tags{class: "tags-icon"}
      %span ブランドから探す
  .header-lower-right-mypage
    .header-lower-right-mypage__likes
      .header-lower-right-mypage__likes--icon
        %i.far.fa-heart
      .header-lower-right-mypage__likes--title
        いいね！一覧
    .header-lower-right-mypage__notice
      .header-lower-right-mypage__notice--icon
        %i.far.fa-bell
      .header-lower-right-mypage__notice--title
        お知らせ
    .header-lower-right-mypage__to-do-list
      .header-lower-right-mypage__to-do-list--icon
        %i.fas.fa-check
      .header-lower-right-mypage__to-do-list--title
        やることリスト
    .header-lower-right-mypage__user
      = link_to mypage_path(current_user) do
        = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', class: "header-lower-right-mypage__user--image", size: '32x32'
      = link_to "マイページ", mypage_path(current_user), class: "header-lower-right-mypage__user--title"
  .mypage-header-box
    .mypage-header-box__head
      %figure.mypage-header-box__head__bgimage
        %div.mypage-header-box__head__avatar
          = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', class: "mypage-header-box__head__avatar--img", size: '60x60'
        %figcaption.mypage-header-box__head__name
          = current_user.name
      %ul.mypage-header-box__head__review
        %li.mypage-header-box__head__review__text
          評価: 5
        %li.mypage-header-box__head__review__text
          出品数: 20
      .mypage-header-box__head__review__sales-point
        %div.mypage-header-box__head__review__sales-point__item
          %div.mypage-header-box__head__review__sales-point__item__left
            残高
          %div.mypage-header-box__head__review__sales-point__item__right
            ¥7,777
            %i.fas.fa-chevron-right.mypage-header-box__head__review__sales-point__item__icon
        %div.mypage-header-box__head__review__sales-point__item
          %div.mypage-header-box__head__review__sales-point__item__left
            ポイント
          %div.mypage-header-box__head__review__sales-point__item__right
            P777
            %i.fas.fa-chevron-right.mypage-header-box__head__review__sales-point__item__icon
    .mypage-header-box__list
      .mypage-header-box__list__item
        いいね！一覧
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right
      = link_to exhibiting_mypage_path(current_user), class: "mypage-header-box__list__item" do
        出品した商品 - 出品中
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right
      .mypage-header-box__list__item
        出品した商品 - 取引中
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right
      = link_to sold_mypage_path(current_user), class: "mypage-header-box__list__item" do
        出品した商品 - 売却済み
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right
      .mypage-header-box__list__item
        購入した商品 - 取引中
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right
      = link_to purchased_mypage_path(current_user), class: "mypage-header-box__list__item" do
        購入した商品 - 過去の取引
        .mypage-header-box__list__item--detail
          %i.fas.fa-chevron-right