%footer.second__footer
  %nav
    %ul.second__footer__clearfix
      %li.second__footer__link
        = link_to "プライバシーポリシー", "", class: "second__footer__link__text"
      %li.second__footer__link
        = link_to "メルカリ利用規約", "", class: "second__footer__link__text"
      %li.second__footer__link
        = link_to "特定商取引に関する表記", "", class: "second__footer__link__text"
  = link_to root_path, class: "second__footer__logo" do
    = image_tag "logo-gray.svg", size: "80x65", class: "second__footer__logo__img"
  %p
    %small.second__footer__text  ©︎ 2019 Mercari