.signup
  %header.signup__header
    %h1.signup__header__logo
      = link_to root_path do
        = image_tag "logo.svg", class: "signup__header__logo__img"
  %main.signup__main
    %section.signup__main__container
      %h2.signup__main__container__head
        新規会員登録 
      .signup__main__container__inner
        .signup__main__container__inner__content
          = link_to registration_signup_index_path, class: "signup__main__container__inner__content__btn__mail" do
            %i.far.fa-envelope.fa-lg.signup__main__container__inner__content__btn__mail__icon
            メールアドレスで登録する
          - if Rails.env.development? || Rails.env.test?
            = link_to user_facebook_omniauth_authorize_path, method: :post, id: "facebook-login", class: "signup__main__container__inner__content__btn__facebook" do
              %i.fab.fa-facebook-square.fa-2x.signup__main__container__inner__content__btn__facebook__icon
              Facebookで登録する
            = link_to "Googleで登録する", user_google_oauth2_omniauth_authorize_path, method: :post, id: "google-login", class: "signup__main__container__inner__content__btn__google"
            - if session[:error].present?
              %p.signup__main__container__inner__content__error
                = session[:error]
          - if Rails.env.production?
            .signup__main__container__inner__content__btn__facebook
              %i.fab.fa-facebook-square.fa-2x.signup__main__container__inner__content__btn__facebook__icon
              Facebookで登録する
            .signup__main__container__inner__content__btn__google
              Googleで登録する
  = render 'layouts/second_footer'
